<div class="container-fluid">
<div class="row mt-3">

           <div class="card">
            <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Đang chuẩn bị</span></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#messages" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Đang giao hàng</span></a>
                </li>
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#edit" data-toggle="pill" class="nav-link"><i class="icon-note"></i> <span class="hidden-xs">Đã giao hàng</span></a>
                </li>
            </ul>
            <div class="tab-content p-3">
                <div class="tab-pane active" id="profile">
                   <div class="row">
	 <div class="col-12 col-lg-12">
	   <div class="card">
	     <div class="card-header">Danh sách đơn hàng
		  <div class="card-action">
             <div class="dropdown">
             <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
              <i class="icon-options"></i>
             </a>
              <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void();">Action</a>
              <a class="dropdown-item" href="javascript:void();">Another action</a>
              <a class="dropdown-item" href="javascript:void();">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void();">Separated link</a>
               </div>
              </div>
             </div>
		 </div>
	       <div class="table-responsive">
                 <table class="table align-items-center table-flush table-borderless">
                  <thead>
                   <tr>
                     <th>Địa chỉ</th>
                     <th>Số điện thoại</th>
                     <th>Ghi chú</th>
                     <th>Ngày đặt</th>
                     <th>Tổng tiền</th>
                    <th>Hành động</th>
                   </tr>
                   </thead>
                   <tbody>
                    {{#each onot}}
                    <tr>
                    <td>{{this.address}}</td>
                    <td>{{this.phonenumber}}</td>
                    <td>{{this.note}}</td>
                    <td>{{this.book}}</td>
                    <td>{{this.total}}</td>
                     <td><a href="/order/{{this._id}}/update"><button type="submit" class="btn btn-light btn-round px-5 "><i class="icon-lock"></i>Đang giao</button> </a> </td>
                     {{/each}}

                 </tbody></table>
               </div>
	   </div>
	 </div>
</div>
</div>
                    <!--/row-->
                
                                <div class="tab-pane" id="messages">
                    <div class="row">
	 <div class="col-12 col-lg-12">
	   <div class="card">
	     <div class="card-header">Danh sách đơn hàng
		  <div class="card-action">
             <div class="dropdown">
             <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
              <i class="icon-options"></i>
             </a>
              <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void();">Action</a>
              <a class="dropdown-item" href="javascript:void();">Another action</a>
              <a class="dropdown-item" href="javascript:void();">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void();">Separated link</a>
               </div>
              </div>
             </div>
		 </div>
	       <div class="table-responsive">
                 <table class="table align-items-center table-flush table-borderless">
                  <thead>
                   <tr>
                     <th>Địa chỉ</th>
                     <th>Số điện thoại</th>
                     <th>Ghi chú</th>
                     <th>Ngày đặt</th>
                     <th>Tổng tiền</th>
                    <th>Hành động</th>
                   </tr>
                   </thead>
                   <tbody>
                    {{#each odelivering}}
                    <tr>
                    <td>{{this.address}}</td>
                    <td>{{this.phonenumber}}</td>
                    <td>{{this.note}}</td>
                    <td>{{this.book}}</td>
                    <td>{{this.total}}</td>
                     <td><a href="/order/{{this._id}}/update"><button type="submit" class="btn btn-light btn-round px-5 "><i class="icon-lock"></i>Đã giao</button> </a> </td>
                     {{/each}}

                 </tbody></table>
               </div>
	   </div>
	 </div>
	</div>
</div>
                <div class="tab-pane" id="edit">
                    <div class="row">
	 <div class="col-12 col-lg-12">
	   <div class="card">
	     <div class="card-header">Danh sách đơn hàng
		  <div class="card-action">
             <div class="dropdown">
             <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
              <i class="icon-options"></i>
             </a>
              <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void();">Action</a>
              <a class="dropdown-item" href="javascript:void();">Another action</a>
              <a class="dropdown-item" href="javascript:void();">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void();">Separated link</a>
               </div>
              </div>
             </div>
		 </div>
	       <div class="table-responsive">
                 <table class="table align-items-center table-flush table-borderless">
                  <thead>
                   <tr>
                     <th>Địa chỉ</th>
                     <th>Số điện thoại</th>
                     <th>Ghi chú</th>
                     <th>Ngày đặt</th>
                     <th>Tổng tiền</th>
                    <th>Ngày giao</th>
                   </tr>
                   </thead>
                   <tbody>
                    {{#each odelivered}}
                    <tr>
                    <td>{{this.address}}</td>
                    <td>{{this.phonenumber}}</td>
                    <td>{{this.note}}</td>
                    <td>{{this.book}}</td>
                    <td>{{this.total}}</td>
                    <td>{{this.delivery}}</td>
                     {{/each}}

                 </tbody></table>
               </div>
	   </div>
	 </div>
	</div>
                    </div>
    </div>
                </div>
            </div>
        </div>
      </div>
        