<div class="row">
	 <div class="col-12 col-lg-12">
	   <div class="card">
	     <div class="card-header">Danh sách bình luận sản phẩm 
            <h5>{{product.name}}</h5>
		  <div class="card-action">
             <div class="dropdown">
             <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
              <i class="icon-options"></i>
             </a>
              <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="javascript:void();">Action</a>
              <a class="dropdown-item" href="javascript:void();">Another action</a>
              <a class="dropdown-item" href="javascript:void();">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:void();">Separated link</a>
               </div>
              </div>
             </div>
		 </div>
	       <div class="table-responsive">
                 <table class="table align-items-center table-flush table-borderless">
                  <thead>
                   <tr>
                     <th>Tên khách hàng</th>
                     <th>Nội dung bình luận</th>
                     <th>Trạng thái khóa</th>
                     <th>Hành động</th>
                   </tr>
                   </thead>
                   <tbody>
                    {{#each comment}}
                    <tr>
                    <td>{{this.nameuser}}</td>
                    <td>{{this.message}} </td>
                    <td>{{this.lock}}</td>
                     <td><a href="/comment/{{this._id}}/update"><button type="submit" class="btn btn-light btn-round px-5 "><i class="icon-lock"></i> Khóa</button> </a> </td>
                     {{/each}}

                 </tbody></table>
               </div>
	   </div>
	 </div>
	</div>